.main-bg {
 background-image: linear-gradient(to right , rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.486)), url("./Assets/Images/background.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 z-index: -1;
}
body{
  font-family: 'Play', sans-serif;
  color: white;
}

*::-webkit-scrollbar {
  display: none;
}